header.page-header

  a(href="/").page-header-logo
    img(src="assets/images/ok-camera-logo.png", width="197", height="70", alt="OK Camera by Opal Kelly")
    img.led(src="assets/images/led.svg" width="8" height="8" alt="led")
    .sk-chase
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot

  .control-toggle
    a.button.button-sm(href="#" data-toggle="controls")
      img(src="assets/images/icon-controls.svg" alt="Controls")

  //- ul.tabs.nav(role="tablist")
  //-   li.control-toggle
  //-     a.button.button-sm(href="#" data-toggle="controls")
  //-       img(src="assets/images/icon-controls.svg" alt="Controls")
  //-   li
  //-     a.tab.active.show.button.button-sm(href="#output-locked" data-toggle="tab" role="tab") Locked
  //-   li
  //-     a.tab.button.button-sm(href="#output-aspect" data-toggle="tab" role="tab") Aspect
  //-   li
  //-     a.tab.button.button-sm(href="#output-crop" data-toggle="tab" role="tab") Crop
